@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, forest;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  /* --color-primary: blue;
  --color-secondary: green;
  --color-accent: green; */
}
